.container
    display: flex
    align-items: center
    justify-content: space-between
    padding: 16px 24px
    border-bottom: 1px solid rgba(0,0,0,0.1)

.logoContainer
    width: 50px
    img
        width: 100%

.navMenu
    display: flex
    gap: 24px

.navLink
    font-size: 18px
    font-weight: 500
